<%=
  render(FlightWeb.Shared.ScheduleView, "index.html",
    conn: @conn,
    renters: @renters,
    instructors: @instructors,
    aircrafts: @aircrafts,
    instructor_user_id: @user_id,
    simulators: @simulators,
    rooms: @rooms,
    student_id: nil)
%>
