<!doctype html>
<html lang="en">
  <head>
    <title>Reset your password — Flight School Manager</title>
    <%= render FlightWeb.Admin.PartialView, "_shared_head.html", assigns %>
  </head>
  <body class="sidebar-none">
    <div class="wrapper">

    <!-- sidebar removed -->

    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#">Flight School Manager</a>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
        <div class="header text-center">
          <!-- no header info -->
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-7 col-lg-5 ml-auto mr-auto">
            <div class="card text-center">
              <div class="card-header ">
                <h2 class="card-title">Password Reset</h2>
              </div>
              <%= form_tag("/forgot_password") do %> 
                <div class="card-body">
                  <p>Enter your <b>Flight School Manager email address</b> that you used to register. We'll send you an email with a link to reset your password.</p>
                  <div class="row">
                    <div class="col-md-12 mt-4">
                      <div class="form-group">
                        <label class="sr-only">Email address</label>
                        <input name="email" class="form-control" placeholder="Email Address" />

                        <input type="submit" class="btn btn-primary btn-round btn-lg mt-4" value="Send Email" />
                      </div>
                    </div>
                  </div>

                </div> <!-- end card body -->
                <div class="card-footer mb-3">
                  <div class="col-md-8 ml-auto mr-auto">
                    <p class="text-muted"><small>If you still need help, contact <a href="#linkHere">FSM Support</a> .</small></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <!-- right column -->
        </div>
      </div>

    </div>
  </div>
  <%= render(FlightWeb.SharedView, "flash_view.html", conn: @conn) %>
</body>
</html>
