<!doctype html>
<html lang="en">
  <head>
    <title>Flight School Manager</title>
    <%= render FlightWeb.Admin.PartialView, "_shared_head.html", assigns %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body class="sidebar-none">
    <div class="wrapper">
      <!-- sidebar removed -->
      <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-absolute">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <a class="navbar-brand" href="#">Flight School Manager</a>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
        <div class="panel-header">
          <div class="header text-center">
            <h2 class="title">Welcome to <%= @invitation.school.name %></h2>
            <p class="category">You've been invited to download the Flight School Manager app. Lets create your account below. Once your account is created, download the app using the link and log in to get started!</a>
            </p>
          </div>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-md-7 col-lg-5 ml-auto mr-auto">
              <div class="card text-center">
                <div class="card-header ">
                  <h4 class="card-title"><%= singular_label_for_role(@invitation.role) %> Registration</h4>
                </div>
              </div>
            </div>
            <%= if needs_card?(@invitation) do %>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="card-element">Credit or debit card</label>
                    <div id="card-element">
                    </div>
                  </div>
                <% end %>
            </div>
          </div>
          <!-- right column -->
        </div>
      </div>
    </div>
  </div>
  <script>
    var stripe = Stripe('<%= stripe_key() %>')
    var elements = stripe.elements({
      fonts: [
        {
          cssSrc: "https://fonts.googleapis.com/css?family=Lato:300,400,700,900",
        }
      ]
    });
    var style = {
      base: {
        fontSize: '12px',
        fontFamily: "'Lato',Helvetica,Arial,sans-serif",
        color: "#2c2c2c",
        fontWeight: 'normal',
        '::placeholder': {
          color: '#BBBCCD',
          fontWeight: '300',
        }
      }
    };

    var card = elements.create('card', {style: style});

    card.mount('#card-element');

    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });

    var isSubmitting = false;

    var stripeTokenHandler = function(token) {
      var form = document.getElementById('signup-form');

      var hiddenInput = document.createElement('input');
      hiddenInput.setAttribute('type', 'hidden');
      hiddenInput.setAttribute('name', 'stripe_token');
      hiddenInput.setAttribute('value', token.id);

      form.appendChild(hiddenInput);

      form.submit();
    };

    window.stripeTokenHandler = stripeTokenHandler

    var form = document.getElementById('signup-form');
    form.addEventListener('submit', function(event) {
      event.preventDefault();

      if (isSubmitting) {
        return;
      }
      isSubmitting = true;

      stripe.createToken(card).then(function(result) {
        if (result.error) {
          isSubmitting = false;
          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = result.error.message;
        } else {
          stripeTokenHandler(result.token);
        }
      });
    });
  </script>
</body>
</html>
