<div class="card-body">
  <p>Your account has been created. Please follow the link to download the Flight School Manager app to finish your profile and schedule your first lesson!</p>
</div> <!-- end card body -->
