body {
  font-family: 'Lato',Helvetica Neue,Arial,sans-serif;
}
button, input, optgroup, select, textarea {
    font-family: 'Lato',Helvetica Neue,Arial,sans-serif;
}
h1,h2,h3,h4,h5,h6, dl dt {
  font-weight: 900;
}
h6 {
  font-weight: 700;
}
h7 {
  font-size: 10px;
  text-transform: uppercase;
  color: #BBBCCD;
  font-weight: 700;
  letter-spacing: .3px;
  margin-bottom: 4px;
  display: block;
}
.tab-pane h6 {
  margin-bottom: 24px;
}

.navbar .navbar-brand {
  color: #BBBCCD;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .3px;
}
.navbar.navbar-absolute {
  box-shadow: none;
}
.navbar a:not(.btn):not(.dropdown-item) {
  color: #BBBCCD;
}

table.table-striped tbody tr:nth-of-type(odd){
  background-color: rgba(0,0,0,.01);
}
table.dataTable > thead > tr > th,
table.dataTable > tbody > tr > th,
table.dataTable > tfoot > tr > th,
table.dataTable > thead > tr > td,
table.dataTable > tbody > tr > td,
table.dataTable > tfoot > tr > td {
  padding: 12px 8px !important;
  max-width: 300px;
}

table a.btn-icon {
  margin-left: 8px !important;
}
table .photo {
  border-radius: 32%;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: -4px 16px -4px 0;
}

.btn,
.navbar .navbar-nav > a.btn {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .3px;
  border-radius: 2px;
  background-color: #F3F3F9;
}
.btn.btn-default,
.navbar .navbar-nav > a.btn.btn-default {
  color: #24282B;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn:active:hover,
.btn.active:focus,
.btn.active:hover,
.show > .btn.dropdown-toggle,
.show > .btn.dropdown-toggle:focus,
.show > .btn.dropdown-toggle:hover,
.navbar .navbar-nav > a.btn:hover,
.navbar .navbar-nav > a.btn:focus,
.navbar .navbar-nav > a.btn:active,
.navbar .navbar-nav > a.btn.active,
.navbar .navbar-nav > a.btn:active:focus,
.navbar .navbar-nav > a.btn:active:hover,
.navbar .navbar-nav > a.btn.active:focus,
.navbar .navbar-nav > a.btn.active:hover,
.show > .navbar .navbar-nav > a.btn.dropdown-toggle,
.show > .navbar .navbar-nav > a.btn.dropdown-toggle:focus,
.show > .navbar .navbar-nav > a.btn.dropdown-toggle:hover {
  background-color: #F3F3F9;
}
.btn-primary {
  background-color: #2CA8FF;
  background-image: -webkit-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);
  background-image: -moz-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);
  background-image: -o-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);
  background-image: linear-gradient(to bottom right, #00C9FF 0%, #2597E1 100%);

}
.btn-primary.active,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover,
.show>.btn-primary.dropdown-toggle,
.show>.btn-primary.dropdown-toggle:focus,
.show>.btn-primary.dropdown-toggle:hover {
  background-color: #2CA8FF;
}
.btn-danger {
  background-color: #F64461;
  color: #fff;
}
.btn-danger.active,
.btn-danger.active:focus,
.btn-danger.active:hover,
.btn-danger:active,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger:focus,
.btn-danger:hover,
.show>.btn-danger.dropdown-toggle,
.show>.btn-danger.dropdown-toggle:focus,
.show>.btn-danger.dropdown-toggle:hover {
  background-color: #F64461;
}

.btn-default.btn-simple,
.btn-default.btn-simple:focus,
.btn-default.btn-simple:hover,
.btn-default.btn-simple:active{
  background: none;
  border-color: #e3e3e3;
  text-transform: none;
  font-size: .8571em;
  font-weight: normal;
  color: #2c2c2c;
}

.btn-sm {
  border-radius: 2px;
}
.btn-round {
  border-radius: 30px;
}
.btn-lg {
  font-size: 12px;
}

textarea.form-control, textarea.form-control:focus, textarea.form-control:active, textarea.form-control:visited {
  border: 1px solid #e3e3e3;
  border-radius:8px;
}
.form-control::placeholder {
  color: #BBBCCD;
}


.badge-success {
  background-color: #46CF7B;
  border-color: #46CF7B;
}
.badge-danger {
  background-color: #F64461;
  border-color: #F64461;
}


.sidebar[data-color="blue"]:after,
.off-canvas-sidebar[data-color="blue"]:after {
   background: #242527;

  /*background-image: -webkit-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);*/
  /*background-image: -moz-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);*/
  /*background-image: -o-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);*/
  /*background-image: linear-gradient(to bottom right, #00C9FF 0%, #2597E1 100%);*/
}

.sidebar .navbar-minimize {
  opacity: 0;
}
.sidebar .logo:after,
.off-canvas-sidebar .logo:after {
  background-color: transparent;
}
.sidebar .user:after,
.off-canvas-sidebar .user:after {
  background-color: transparent;
}
.sidebar .user,
.off-canvas-sidebar .user {
  /*background-color: rgba(0,0,0,.07);*/
  margin: 0 auto;
  padding: 20px 0 20px 16px;
  border-bottom: solid 1px rgba(255,255,255,.05);
}
.sidebar .logo a.logo-mini,
.off-canvas-sidebar .logo a.logo-mini {
  width: auto;
  float: none;
  margin: 0;
  padding: 0;
}
.logo {
  background: #fff;
}
.logo img {
  /*max-height: 48px;*/
  border-radius: 0;
}
.sidebar .logo, .off-canvas-sidebar .logo {
  /*padding: 1.065rem 0.7rem;*/
  padding: 0;
  background: transparent;
}

.off-canvas-sidebar .nav li.active>a:not([data-toggle=collapse]),
.sidebar .nav li.active>a:not([data-toggle=collapse]) {
  background-image: -webkit-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);
  background-image: -moz-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);
  background-image: -o-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);
  background-image: linear-gradient(to bottom right, #00C9FF 0%, #2597E1 100%);
}
.off-canvas-sidebar[data-color=blue] .nav li.active>a:not([data-toggle=collapse]),
.off-canvas-sidebar[data-color=blue] .nav li.active>a:not([data-toggle=collapse]) i,
.sidebar[data-color=blue] .nav li.active>a:not([data-toggle=collapse]),
.sidebar[data-color=blue] .nav li.active>a:not([data-toggle=collapse]) i {
  color: #fff;
}


.btn-success {
  background-color: #46CF7B;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-success.active:focus,
.btn-success.active:hover,
.show > .btn-success.dropdown-toggle,
.show > .btn-success.dropdown-toggle:focus,
.show > .btn-success.dropdown-toggle:hover {
  background-color: #46CF7B;
}

.btn-disabled {
  background-color: rgba(222, 222, 222, 0.3);
  color: #444;
}
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active,
.btn-disabled.active,
.btn-disabled:active:focus,
.btn-disabled:active:hover,
.btn-disabled.active:focus,
.btn-disabled.active:hover,
.show > .btn-disabled.dropdown-toggle,
.show > .btn-disabled.dropdown-toggle:focus,
.show > .btn-disabled.dropdown-toggle:hover {
  background-color: rgba(222, 222, 222, 0.3);
  color: #444;
}

.table > thead > tr > th {
  font-size: 1.3em;
}
table.dataTable {
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
}

body.sidebar-none .main-panel {
  width: 100%;
}
.main-panel .header {
  margin-bottom: 40px;
}

small.light-text {
  color: rgba(0,0,0,.6);
}

.card {
  border-radius: 2px;
}
.category, .card-category {
  text-transform: none;
}

.card-signup .form-check label {
  margin-left: 14px;
  padding-left: 38px;
}
.card .card-header {
  padding: 16px 24px 0 24px ;
}
.card .card-header.pills {
  border-bottom: solid 1px rgba(0,0,0,.05)
}
.card .card-header .nav {
  /* background: rgba(42,42,48,.1); */
  border-radius: 3px 3px 0 0;
  margin: -16px -24px 0 -24px;
  padding: 20px 24px 20px
}
.card .card-body {
  padding: 16px 24px 24px 24px;
}
.card .avatar {
  border-radius: 32%;
}
.card form .avatar {
  border-radius: 2px;
  height: 124px;
  margin: 15px 0 0;
  overflow: hidden;
  width: 124px;
}
.card form .avatar img{
  height: 100%;
  width: 100%;
}
.description,
.card-description,
.footer-big p,
.card .footer .stats {
  font-weight: 400;
}
.card-section {
  margin-top: 24px;
}
.card-user .title {
  margin-bottom: 4px;
}
.card-user dl dt, .card-user dl dt {
  font-size: 14px;
}
.card-user .image {
  height: 100px;
}
.card-user .author {
  margin-top: 16px;
}
.card-user .card-section {
  margin-top: 32px;
}
.card-user .card-body {
  min-height: 0;
}
.card-desc {
  color: #666;
  background: #f3f3f9;
  margin: -16px -24px 16px -24px;
  padding: 16px 24px;
}
.card-desc i {
  position: absolute;
  margin: 3px 0 0 -24px;
}


.course-progress.detail-list dl {
  border: none;
}
.course-progress-bar {
  width: 100%;
  height: 8px;
  background: #f2f3f4;
  border-radius: 100px;
}
.course-progress-bar span {
  background: #2CA8Fe;
  width: 100%;
  height: inherit;
  border-radius: 100px;
  display: block;
}

.detail-list dl {
  border-bottom: solid 1px #eee;
  padding: 16px 0;
  margin: 0;
}
.detail-list dt, .detail-list dd {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.detail-list dd {
  text-align: right;
}
.detail-list dd p {
  font-size: 14px;
  color: #828393;
  margin-bottom: 4px;
}
.detail-list dd small, .detail-list dt small {
  color: #BBBCCD;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .3px;
  display: block;
}
.detail-list dd p small, .detail-list dt p small {
  display: inline-block;
}
.detail-list dl dd dl {
  padding: 4px 0;
  border: none;
}
.detail-list dl dd dl dt {
  margin-right: 24px;
}
.detail-list dl dd.medium {
  color: #828393;
}
.detail-list .transaction-status {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .3px;
  color: #666;
  font-weight: 700;
  color: #2CA8Fe;
}

.detail-list.list-billing dd {
  text-align: left;
}

.detail-list dl dt dl {
  border: none;
  padding: 4px 0;
}
.detail-list dl dt dl dt {
  margin-right: 16px;
  padding-top: 5px;
}
.detail-list textarea {
  padding: 0;

}

.light {
  font-weight: 300;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.black {
  font-weight: 900;
}

dl .disc {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: #2A2A30;
  margin: 0 0 0 16px;
}
dl .disc.good {background-color: #46CF7B;}
dl .disc.expiring {background-color: #FFC655;}
dl .disc.expired {background-color: #FF5572;}

.text-good {color: #46CF7B;}
.text-expiring {color: #FFC655;}
.text-expired {color: #FF5572;}

.panel-header {
  height: auto;
  background-image: url('/images/bg-plane-bw.jpg');
  background-size: 138%;
  background-position: 0 888px;
  background-color: #24282B;
  background-blend-mode: overlay;
}
.panel-header-sm {
  min-height: 128px;
  height: 128px; /* both are necessary to overheight the .panel-header properties */
}

.title {
  font-weight: 900;
}

/*Repeat Event css start*/

#repeatBtn {
  cursor: pointer;
}
/*Fix for: https://github.com/randonrussell/fsm-backend-and-web/issues/1118*/
.bootstrap-datetimepicker-widget {
  height: fit-content !important;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/*Repeat Event css end*/

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.nav-pills .nav-item .nav-link,
.nav-pills .nav-item .nav-link:hover {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .3px;
  font-weight: 700;
  background-color: #F3F3F9;
  min-width: 60px;
}
.nav-pills .nav-item .nav-link:hover {
  background-color: #e7e7f0;
}
.nav-pills.nav-pills-primary {
  flex-wrap: nowrap;
}
.nav-pills .nav-item .nav-link.active,
.nav-pills .nav-item .nav-link.active:focus,
.nav-pills .nav-item .nav-link.active:hover {
  -webkit-box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);
  background-image: -moz-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);
  background-image: -o-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);
  background-image: linear-gradient(to bottom right, #00C9FF 0%, #2597E1 100%);
}
.nav-pills .nav-item i {
  display: inline-block;
  font-size: 14px;
  line-height: 1.25;
}
.nav-pills .nav-item .dropdown .nav-link {
  padding: 9px 0px;
}
.nav-pills.nav-pills-primary .nav-item .nav-link.onboarding.completed,
.nav-pills.nav-pills-primary .nav-item .nav-link.onboarding.completed:focus,
.nav-pills.nav-pills-primary .nav-item .nav-link.onboarding.completed:hover {
  background-color: #c2c2c7;
  pointer-events: none;
}
.nav-pills.nav-pills-primary .nav-item .nav-link.onboarding.upcoming,
.nav-pills.nav-pills-primary .nav-item .nav-link.onboarding.upcoming:focus,
.nav-pills.nav-pills-primary .nav-item .nav-link.onboarding.upcoming:hover {
  background-color: #f6f6fa;
  pointer-events: none;
}
.nav-pills.nav-pills-primary .nav-item .nav-link.onboarding.active,
.nav-pills.nav-pills-primary .nav-item .nav-link.onboarding.active:focus,
.nav-pills.nav-pills-primary .nav-item .nav-link.onboarding.active:hover {
  pointer-events: none;
}


.sidebar .nav p,
.off-canvas-sidebar .nav p {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .3px;
  font-weight: 700;
}
.sidebar .user .photo,
.off-canvas-sidebar .user .photo {
  border-radius: 32%;
}

.modal .modal-header .close {
  color: #2A2A30;
}
.modal-icon {
  font-size: 60px;
  color: #2CA8Fe;
  margin: 0 auto;
}
.modal .nav-pills {
  margin-bottom: 24px;
}
.modal-content .modal-footer {
  justify-content: flex-end;
}
.modal-content .modal-footer button, .card .card-footer .modal-footer .btn {
    margin-left: 8px;
}
.modal-content .modal-footer button.mr-auto {
  margin-left: 0;
}
.bootstrap-switch .bootstrap-switch-handle-on {
  background: #2CA8Fe;
}


.login-page .card-login .input-group:last-child {
  margin-bottom: 8px;
}

.card-chart .card-footer {
  margin-top: 0;
}


.alert.alert-success {
  background-color: #46CF7B;
}


.border-none {
  border: none !important;
}
.border-bottom {
  border-bottom: solid 1px #e9ecef;
}


/*Full Calendar custom css*/
.fc button {
  height: auto;
  box-shadow: none;
  color: #444;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .3px;
  font-weight: 700;
  background: #e7e7f0;
  text-shadow: none;
}
.fc button.fc-state-active, .fc button.fc-state-hover {
  background-color: #2CA8FF;
  color: #fff;
  transition: none;
  background-image: -webkit-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);
  background-image: -moz-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);
  background-image: -o-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);
  background-image: linear-gradient(to bottom right, #00C9FF 0%, #2597E1 100%);
}
.fc button.btn-primary.disabled,
.fc button.btn-primary.disabled.active,
.fc button.btn-primary.disabled.focus,
.fc button.btn-primary.disabled:active,
.fc button.btn-primary.disabled:focus,
.fc button.btn-primary.disabled:hover,
.fc button.btn-primary:disabled,
.fc button.btn-primary:disabled.active,
.fc button.btn-primary:disabled.focus,
.fc button.btn-primary:disabled:active,
.fc button.btn-primary:disabled:focus,
.fc button.btn-primary:disabled:hover,
.fc button.btn-primary[disabled],
.fc button.btn-primary[disabled].active,
.fc button.btn-primary[disabled].focus,
.fc button.btn-primary[disabled]:active,
.fc button.btn-primary[disabled]:focus,
.fc button.btn-primary[disabled]:hover,
.fc button.disabled,
.fc button.disabled.active,
.fc button.disabled.focus,
.fc button.disabled:active,
.fc button.disabled:focus,
.fc button.disabled:hover,
.fc button:disabled,
.fc button:disabled.active,
.fc button:disabled.focus,
.fc button:disabled:active,
.fc button:disabled:focus,
.fc button:disabled:hover,
.fc button[disabled],
.fc button[disabled].active,
.fc button[disabled].focus,
.fc button[disabled]:active,
.fc button[disabled]:focus,
.fc button[disabled]:hover,
fieldset[disabled] .fc button,
fieldset[disabled] .fc button.active,
fieldset[disabled] .fc button.btn-primary,
fieldset[disabled] .fc button.btn-primary.active,
fieldset[disabled] .fc button.btn-primary.focus,
fieldset[disabled] .fc button.btn-primary:active,
fieldset[disabled] .fc button.btn-primary:focus,
fieldset[disabled] .fc button.btn-primary:hover,
fieldset[disabled] .fc button.focus,
fieldset[disabled] .fc button:active,
fieldset[disabled] .fc button:focus,
fieldset[disabled] .fc button:hover {
  background-color: #2CA8FF;
  color: #fff;
  background-image: -webkit-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);
  background-image: -moz-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);
  background-image: -o-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);
  background-image: linear-gradient(to bottom right, #00C9FF 0%, #2597E1 100%);
}

.fc button:focus {
  background-color: #e7e7f0;
}

.card-calendar table td {
  text-align: left;
}
.card-calendar .fc th {
  text-transform: uppercase;
  font-size: 10px;
  color: rgba(36,40,43,.9);
  letter-spacing: .3px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 4px;
}
.fc-event, .fc-event.event-primary {
  border: none;
  background-color: #2CA8FF;
  background-image: -webkit-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);
  background-image: -moz-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);
  background-image: -o-linear-gradient(top left, #00C9FF 0%, #2597E1 100%);
  background-image: linear-gradient(to bottom right, #00C9FF 0%, #2597E1 100%);
}
.fc-day-grid-event .fc-content {
  padding: 4px 4px;
}
.fc-event.event-default {
  background: #e7e7f0;
}
.fc-event.event-green {
  background: #8ccb8b;
}
.fc-event.event-light-blue {
  background: #A9D2EA;
}
.fc-event.event-red {
  background: #D78B7A;
}
.fc-event.event-yellow {
  background: #FAE57A;
}
.fc-event.event-orange {
  background: #F8AF7A;
}
.fc-event.event-light-green {
  background: #8AC926;
}
.fc-event.event-purple {
  background: #AB9DBF;
}
.fc-event.event-default .fc-title, .fc-event.event-default .fc-time{
  color: #B1AEAD;
}
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-popover .fc-header {
  background: #e7e7f0;
}
.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #e7e7f0;
}
.fc-unthemed .fc-list-view {
  border-color: transparent;
}
.fc-event-dot {
  background-color: #00C9FF;
}
.fc-unthemed .fc-list-item:hover td {
  background-color: transparent;
}

.fc-bottom-border {
  background: #e7e7f0;
  height: 5px;
}
.fc-license-message {
  display: none !important;
}

.fsm-x-scroll-on-hover {
  overflow-x: hidden;
}
.fsm-x-scroll-on-hover:hover {
  overflow-x: visible !important;
}

/* Sweet Alert Modal plugin */
.swal2-modal {
  font-family: Lato;
  overflow: visible;
}
.swal2-modal .swal2-content {
  font-size: 16px;
  font-weight: normal;
}
.swal2-modal .col-form-label {
  color: #9a9a9a;
  text-align: left;
}
.swal2-modal .swal2-title {
  font-weight: 900;
  font-family: Lato;
  color: rgb(44,44,44);
  font-size: 28px;
  margin-bottom: 24px;
}
.swal2-content .nav-pills {
  margin-bottom: 24px;
}


/* datetimepicker plugin */
.bootstrap-datetimepicker-widget table td.day:hover>div,
.bootstrap-datetimepicker-widget table td.hour:hover>div,
.bootstrap-datetimepicker-widget table td.minute:hover>div,
.bootstrap-datetimepicker-widget table td.second:hover>div {
  background-color: #e7e7f0;
}
.bootstrap-datetimepicker-widget table td.today:hover>div,
.bootstrap-datetimepicker-widget table td.today>div {
  background-color: #e7e7f0;
}
.bootstrap-datetimepicker-widget table td.active:hover>div,
.bootstrap-datetimepicker-widget table td.active>div {
  background-color: #2CA8Fe;
  color: #fff;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.2);
}
.bootstrap-datetimepicker-widget table td.today>div:before {
  display: none;
}

/* selectpicker plugin */
.dropdown-menu.open .form-control {
  border: 1px solid #e3e3e3;
  border-radius: 30px;
}
.dropdown-menu .hidden {
  display: none!important;
}
.bootstrap-select.show > .btn.dropdown-toggle {
  background-color: transparent;
  color: #2c2c2c;
}
.bootstrap-select > .btn.dropdown-toggle.bs-placeholder {
  color: rgba(0,0,0,.15);
}


/* Small devices (landscape phones, 375px and up) */
@media (min-width: 375px) {
	.panel-header {
    background-size: 135%;
    background-position: 0 688px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.panel-header {
    background-size: 135%;
    background-position: 0 688px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.panel-header {
    background-size: 135%;
    background-position: 0 800px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.panel-header {
    background-position: 0 988px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.panel-header {
    background-position: 0 1188px;
  }
}

@media (min-width: 1600px) {

}

@media (max-width: 1224px) {
  #button-wrapper {
    flex-direction: column;
  }
  #button-wrapper > .ml-1 {
    margin-top: 2px;
    margin-left: 0!important;
  }
}

.StripeElement {
  height: 38px;
  padding: 10px 12px;
  border-radius: 19px;
  border: 1px solid rgb(227, 227, 227);
  background: #fff;
}
.StripeElement--focus {
  border: 1px solid #2CA8Fe;
  box-shadow: none;
  outline: 0!important;
}

.StripeElement--invalid {
  border-color: #fa755a;
}
#card-errors {
  color: #eb1c26;
  text-align: left;
  padding-top: 8px;
  font-size: 12px;
}


/* styles that shouldnt be included in production */
#prototyping-only {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255,255,255,.1);
  padding: 0px 16px;
  border-radius: 4px;
  margin: 4px;
  z-index: 10000;
}
#prototyping-only small {
  font-weight: 700;
  color: rgba(255,255,255,.5);
  font-size: 8px;
  margin-right: 8px;
}
#prototyping-only .btn {
  padding: 4px 8px;
}

.download-buttons {
  margin: auto;
  width: 310px;
}
.download-buttons a {
  display: inline-block;
}

.download-buttons a:last-child {
  margin-left: 8px;
}
.download-buttons a img {
  width: 112px;
}

.pagination {
  justify-content: center;
}
.pagination-page-size-wrapper {
  padding: 0;
}
.pagination-page-size-fields {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.pagination-page-size-select {
  width: 75px;
}

.inherit-font-size {
  font-size: inherit;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #f7f7f7;
  background: #000000;
  box-shadow: 0 1px 0 #c5c5c5, inset 0 0 100px #2CA8Fe;
  overflow: hidden;
  z-index: 2000;
}

#loader:before {
  content: '';
  position: absolute;
  top: 87%;
  left: 55%;
  width: 4px;
  height: 4px;
  background: #00ff00;
  border-radius: 50%;
  filter: blur(1px);
  animation: glow 2s linear infinite;
}

#loader:after {
  content: '';
  position: absolute;
  top: 70%;
  left: 45%;
  width: 4px;
  height: 4px;
  background: #00ff00;
  border-radius: 50%;
  filter: blur(1px);
  animation: glow 2s linear infinite;
}

#loader li:nth-child(1),
#loader li:nth-child(2),
#loader li:nth-child(3),
#loader li:nth-child(4) {
  list-style: none;
  position: absolute;
  top: 50%;
  height: 1px;
  width: 100%;
  background: #0164a9;
  border-radius: 50%;
}

#loader li:nth-child(2) {
  transform: rotate(90deg);
}

#loader li:nth-child(3) {
  transform: rotate(45deg);
}

#loader li:nth-child(4) {
  transform: rotate(-45deg);
}

#loader li:nth-child(5),
#loader li:nth-child(6) {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #0164a9;
  background: transparent;
  border-radius: 50%;
}

#loader li:nth-child(5) {
  width: 12px;
  height: 12px;
}

#loader li:nth-child(6) {
  width: 23px;
  height: 23px;
}

#loader li:nth-child(7) {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  transform-origin: top left;
  background: linear-gradient(45deg, #00ff00 0%, transparent 50%);
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* styles for hide sidebar */

@media (max-width: 1300px) {
  #hide-sidebar-for-table .rtl-active .sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > .sidebar-normal,
  #hide-sidebar-for-table .rtl-active .sidebar .sidebar-wrapper .user .user-info [data-toggle="collapse"] ~ div > ul > li > .sidebar-normal {
    text-align: right; }
  .nav-open #hide-sidebar-for-table .rtl-active .main-panel {
    -webkit-transform: translate3d(-260px, 0, 0);
    transform: translate3d(-260px, 0, 0); }
  #hide-sidebar-for-table .rtl-active .sidebar {
    -webkit-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0); }

  #hide-sidebar-for-table .profile-photo .profile-photo-small {
    margin-left: -2px; }
  #hide-sidebar-for-table .button-dropdown {
    display: none; }
  #hide-sidebar-for-table #minimizeSidebar {
    display: none; }
  #hide-sidebar-for-table .wrapper {
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1); }
  #hide-sidebar-for-table .sidebar {
    -webkit-box-shadow: none;
            box-shadow: none; }
  #hide-sidebar-for-table #bodyClick {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 1;
    top: 0;
    right: 0;
    left: 260px;
    content: "";
    z-index: 9999;
    overflow-x: hidden;
    background-color: transparent;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1); }
  #hide-sidebar-for-table .footer .copyright {
    text-align: right; }
  #hide-sidebar-for-table .section-nucleo-icons .icons-container {
    margin-top: 65px; }
  #hide-sidebar-for-table .navbar-nav .nav-link i.fa,
  #hide-sidebar-for-table .navbar-nav .nav-link i.now-ui-icons {
    opacity: .5; }
  #hide-sidebar-for-table .sidebar,
  #hide-sidebar-for-table .bootstrap-navbar {
    position: fixed;
    display: block;
    top: 0;
    height: 100%;
    width: 260px;
    right: auto;
    left: 0;
    z-index: 1032;
    visibility: visible;
    overflow-y: visible;
    padding: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -webkit-transform: translate3d(-260px, 0, 0);
    transform: translate3d(-260px, 0, 0); }
  #hide-sidebar-for-table .bar1,
  #hide-sidebar-for-table .bar2,
  #hide-sidebar-for-table .bar3 {
    outline: 1px solid transparent; }
  #hide-sidebar-for-table .bar1 {
    top: 0px;
    -webkit-animation: topbar-back 500ms linear 0s;
    animation: topbar-back 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  #hide-sidebar-for-table .bar2 {
    opacity: 1; }
  #hide-sidebar-for-table .bar3 {
    bottom: 0px;
    -webkit-animation: bottombar-back 500ms linear 0s;
    animation: bottombar-back 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  #hide-sidebar-for-table .toggled .bar1 {
    top: 6px;
    -webkit-animation: topbar-x 500ms linear 0s;
    animation: topbar-x 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  #hide-sidebar-for-table .toggled .bar2 {
    opacity: 0; }
  #hide-sidebar-for-table .toggled .bar3 {
    bottom: 6px;
    -webkit-animation: bottombar-x 500ms linear 0s;
    animation: bottombar-x 500ms 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  @keyframes topbar-x {
    0% {
      top: 0px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    45% {
      top: 6px;
      -webkit-transform: rotate(145deg);
              transform: rotate(145deg); }
    75% {
      -webkit-transform: rotate(130deg);
              transform: rotate(130deg); }
    100% {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); } }
  @-webkit-keyframes topbar-x {
    0% {
      top: 0px;
      -webkit-transform: rotate(0deg); }
    45% {
      top: 6px;
      -webkit-transform: rotate(145deg); }
    75% {
      -webkit-transform: rotate(130deg); }
    100% {
      -webkit-transform: rotate(135deg); } }
  @keyframes topbar-back {
    0% {
      top: 6px;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }
    45% {
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg); }
    75% {
      -webkit-transform: rotate(5deg);
              transform: rotate(5deg); }
    100% {
      top: 0px;
      -webkit-transform: rotate(0);
              transform: rotate(0); } }
  @-webkit-keyframes topbar-back {
    0% {
      top: 6px;
      -webkit-transform: rotate(135deg); }
    45% {
      -webkit-transform: rotate(-10deg); }
    75% {
      -webkit-transform: rotate(5deg); }
    100% {
      top: 0px;
      -webkit-transform: rotate(0); } }
  @keyframes bottombar-x {
    0% {
      bottom: 0px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    45% {
      bottom: 6px;
      -webkit-transform: rotate(-145deg);
              transform: rotate(-145deg); }
    75% {
      -webkit-transform: rotate(-130deg);
              transform: rotate(-130deg); }
    100% {
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg); } }
  @-webkit-keyframes bottombar-x {
    0% {
      bottom: 0px;
      -webkit-transform: rotate(0deg); }
    45% {
      bottom: 6px;
      -webkit-transform: rotate(-145deg); }
    75% {
      -webkit-transform: rotate(-130deg); }
    100% {
      -webkit-transform: rotate(-135deg); } }
  @keyframes bottombar-back {
    0% {
      bottom: 6px;
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg); }
    45% {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg); }
    75% {
      -webkit-transform: rotate(-5deg);
              transform: rotate(-5deg); }
    100% {
      bottom: 0px;
      -webkit-transform: rotate(0);
              transform: rotate(0); } }
  @-webkit-keyframes bottombar-back {
    0% {
      bottom: 6px;
      -webkit-transform: rotate(-135deg); }
    45% {
      -webkit-transform: rotate(10deg); }
    75% {
      -webkit-transform: rotate(-5deg); }
    100% {
      bottom: 0px;
      -webkit-transform: rotate(0); } }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @keyframes fadeIn {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  #hide-sidebar-for-table .navbar-toggler-bar {
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: #FFFFFF; }
  #hide-sidebar-for-table .navbar-toggler-bar + .navbar-toggler-bar {
    margin-top: 7px; }
  #hide-sidebar-for-table .navbar-toggler-bar + .navbar-toggler-bar.navbar-kebab {
    margin-top: 3px !important; }
  #hide-sidebar-for-table .navbar-toggler-bar.bar2 {
    width: 17px;
    -webkit-transition: width .2s linear;
    transition: width .2s linear; }
  #hide-sidebar-for-table .navbar-toggle .navbar-toggler,
  #hide-sidebar-for-table .navbar-toggle {
    display: block !important; }
  #hide-sidebar-for-table .navbar .toggled .navbar-toggler-bar {
    width: 24px; }
  #hide-sidebar-for-table .navbar .toggled .navbar-toggler-bar + .navbar-toggler-bar {
    margin-top: 5px; }
  .nav-open #hide-sidebar-for-table .main-panel {
    right: 0;
    -webkit-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0); }
  .nav-open #hide-sidebar-for-table .sidebar {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -webkit-box-shadow: 0px 2px 22px 0 rgba(0, 0, 0, 0.2), 0px 2px 30px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 0px 2px 22px 0 rgba(0, 0, 0, 0.2), 0px 2px 30px 0 rgba(0, 0, 0, 0.35); }
  #hide-sidebar-for-table .nav-open body {
    position: relative;
    overflow-x: hidden; }
  #hide-sidebar-for-table .nav-open .menu-on-right .main-panel {
    -webkit-transform: translate3d(-260px, 0, 0);
    transform: translate3d(-260px, 0, 0); }
  .nav-open #hide-sidebar-for-table .menu-on-right .navbar-collapse,
  .nav-open #hide-sidebar-for-table .menu-on-right .sidebar {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0); }
  #hide-sidebar-for-table .nav-open .menu-on-right .navbar-translate {
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0); }
  #hide-sidebar-for-table .nav-open .menu-on-right #bodyClick {
    right: 260px;
    left: auto; }
  #hide-sidebar-for-table .menu-on-right .sidebar {
    left: auto;
    right: 0;
    -webkit-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0); }
  #hide-sidebar-for-table .main-panel {
    width: 100%; }
}

.dropzone-description {
  font-size: small !important;
}

.deductible,
.deductible input,
.deductible label {
  color: red;
}

.expiry-date-container .clear,
.expiry-date-input {
  cursor: pointer;
}

.button-wrapper > div {
  display: inline;
}

a.round-button {
  text-decoration: none;
  line-height: 36.5px;
}

.round-button{
  width: 39px;
  height: 38px;
  border-radius: 19px;
  border: transparent;
  font-size: 1.5em;
  text-align: center;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.back-link {
  position: absolute;
  left: 30px;
}
.back-link a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 720px) {
	.back-link {
    position: initial;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}