<dl class="d-flex justify-content-between">
  <dt><%= @tach_inspection.name %></dt>
  <dd><%= @tach_inspection.tach_time %></dd>
  <dd>
    <a href="/admin/inspections/<%= @tach_inspection.id %>/edit" class="btn btn-primary">Edit</a>
  </dd>
</dl>
