<div class="row">
          
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Edit Aircraft</h3>
              </div>
              <%= render "_form.html", changeset: @changeset, aircraft: @aircraft, is_edit: true %>
            </div> <!-- end card -->
          </div>

        </div>
