<div class="row">
    <div class="sol-sm 12 col-md-10 col-lg-9">
      <div class="card">
        
        <div class="card-header">
          <h3 class="card-title">New Aircraft</h3>
        </div>
        <%= render "_form.html", changeset: @changeset, aircraft: nil, is_edit: false %>
      
      </div> <!-- end card -->
    </div>
  </div>
