<div class="panel-header">
  <div class="header text-center">
    <h6 class="title back-link"><a href="/course/participants">< Back to Course Participants</a></h6>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex flex-column">
            
        </div>
      </div>
    </div>
  </div>
</div>