<div class="form-group">
  <label>Name *</label>
  <%= text_input @f, :name, class: "form-control" %>
  <%= full_error_tag @f, :name %>
</div>

<div class="form-group">
  <label>Expiration Date *</label>
  <%= text_input @f, :expiration, class: "form-control", placeholder: "MM/DD/YYYY", value: format_date(input_value(@f, :expiration)) %>
  <%= full_error_tag @f, :expiration %>
</div>

