<div class="form-group">
  <label>Name *</label>
  <%= text_input @f, :name, class: "form-control" %>
  <%= full_error_tag @f, :name %>
</div>

<div class="form-group">
  <label>Tach Time</label>
  <%= number_input @f, :tach_time, class: "form-control", value: display_hour_tenths(@changeset.data.tach_time), step: "0.1" %>
</div>
