<div class="form-group">
  <label>Last Inspection Tach Time</label>
  <%= text_input @f, :last_inspection, class: "form-control", required: true %>
</div>

<div class="form-group">
  <label>Next Inspection Tach Time</label>
  <%= text_input @f, :next_inspection, class: "form-control", required: true %>
</div>
