<!doctype html>
<html lang="en">
  <head>
    <title>Flight School Manager \\ <%= assigns.conn.assigns.current_user.school.name %></title>
    <%= render FlightWeb.Admin.PartialView, "_shared_head.html", assigns %>
    <script>
      window.fsm_token = "<%= FlightWeb.AuthenticateApiUser.token(@conn.assigns.current_user) %>"
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script src="/js/schedule.min.js"></script>
  </head>
  <body id="<%= hide_sidebar_for_table(@conn) %>">
    <div class="wrapper">

    <%= render FlightWeb.Admin.PartialView, "_sidebar.html", assigns %>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute bg-primary fixed-top">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <%= school_select(@conn) %>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
          </div>
        </div>
      </nav>
      <!-- End Navbar -->

        <%= render @view_module, @view_template, assigns %>

        <footer class="footer">
          <div class="container-fluid">
            <nav>
              <ul>
                <li>
                  <a href="#e">
                    Privacy Policy
                  </a>
                </li>
                <li>
                  <a href="#e">
                     Terms of Use
                  </a>
                </li>
                <li>
                  <a href="#e">
                     Contact Us
                  </a>
                </li>
              </ul>
            </nav>
            <div class="copyright">
              &copy; <script>document.write(new Date().getFullYear())</script>, Flight School Manager (v<%=@conn.assigns.version%>)
            </div>
          </div>
        </footer>

      </div>
    </div>
  </body>

</html>
