
<!doctype html>
<html lang="en">
  <head>
    <title>Randon Aviation</title>
    <!-- Required meta tags -->
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" /> -->
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<!-- Material Kit CSS -->
<link rel="stylesheet" href="<%= static_path(@conn, "/css/admin/admin.css") %>">
<script src="<%= static_path(@conn, "/js/admin/admin.js") %>"></script>
  </head>
  <body>
    <div class="wrapper">

      <div class="sidebar" data-color="blue">
<!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->

  <div class="logo">
    <a href="/#" class="simple-text logo-mini">
        <img src="/images/logo-randon-aviation.jpg"/>
    </a>
    <div class="navbar-minimize">
      <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round">
          <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i>
          <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i>
      </button>
    </div>
  </div>

  <div class="sidebar-wrapper">
    <div class="user">
        <div class="photo">
            <img src="/images/james.jpg" />
        </div>
        <div class="info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                <span>Randon Russell<b class="caret"></b></span>
            </a>
            <div class="clearfix"></div>
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <!-- <li>
                        <a href="user.php">
                            <span class="sidebar-mini-icon">MP</span>
                            <span class="sidebar-normal">My Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="sidebar-mini-icon">EP</span>
                            <span class="sidebar-normal">Edit Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="sidebar-mini-icon">S</span>
                            <span class="sidebar-normal">Settings</span>
                        </a>
                    </li> -->
                    <li>
                        <a href="login.php">
                            <!-- <span class="sidebar-mini-icon">L</span> -->
                            <i class="now-ui-icons media-1_button-power"></i>
                            <span class="sidebar-normal">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="nav">

        <li>
            <a href="dashboard.php">
                <i class="now-ui-icons design_app"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li>
            <a href="instructors.php">
                <i class="now-ui-icons users_single-02"></i>
                <p>Instructors</p>
            </a>
        </li>
        <li>
            <a href="students.php">
                <i class="now-ui-icons education_hat"></i>
                <p>Students</p>
            </a>
        </li>
        <li>
            <a href="renters.php">
                <i class="now-ui-icons business_badge"></i>
                <p>Renters</p>
            </a>
        </li>
        <li>
            <a href="aircraft.php">
                <i class="now-ui-icons objects_spaceship"></i>
                <p>Aircraft</p>
            </a>
        </li>
        <li>
            <a href="admins.php">
                <i class="now-ui-icons business_briefcase-24"></i>
                <p>Admins</p>
            </a>
        </li>

        <!-- <li>
            <a href="school.php">
                <i class="now-ui-icons loader_gear"></i>
                <p>School Settings</p>
            </a>
        </li> -->

    </ul>
  </div>
</div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo">Flight School Manager</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">

          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
        <!-- <div class="header text-center">
          <h2 class="title">Student Management</h2>
          <p class="category">A list of all Randon Aviation students.</p>
        </div> -->
      </div>

      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <!-- <h4 class="card-title">Students</h4> -->
              </div>
              <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
                  <ul class="nav nav-pills nav-pills-primary" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist" aria-expanded="false">Students</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#link2" role="tablist" aria-expanded="true">Invitations</a>
                    </li>
                  </ul>
                  <!-- <a href="new-student.php" class="btn btn-primary">Add Student</a> -->
                </div>
                <div class="tab-content tab-space">
                  <div class="tab-pane active" id="link1" aria-expanded="false">
                    <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Phone #</th>
                          <th>Next Appointment</th>
                          <th>Account Balance</th>
                          <th>Owed</th>
                          <th class="disabled-sorting text-right">&nbsp;</th>
                        </tr>
                      </thead>
                      <tbody>

                        <script>
                          for (i = 0; i < 12; i++) {
                            document.write('<tr>');
                            document.write('<td class="text-nowrap"><span class="photo"><img src="/images/max.jpg"></span><b>Max Fischer</b></td>');
                            document.write('<td><a href="tel:801555-5555">(801)555-5555</a></td>');
                            document.write('<td>Monday, Apr 15 2018</td>');
                            document.write('<td>$6,540</td>');
                            document.write('<td>-$500</td>');
                            document.write('<td class="text-right">');
                            document.write('<a href="student-profile.php" class="btn btn-primary btn-sm">view</a>');
                            document.write('</td>');
                            document.write('</tr>');
                          }
                        </script>



                      </tbody>
                    </table>
                  </div> <!-- end pane one -->

                  <div class="tab-pane" id="link2" aria-expanded="true">
                    <h6>Add a student</h6>
                    <form method="get" action="new-student.php">
                      <div class="row mb-4">
                        <div class="col-md-4 pr-1">
                          <div class="form-group">
                            <label class="sr-only" >Student Name</label>
                            <input type="text" class="form-control" placeholder="Student Name">
                          </div>
                        </div>
                        <div class="col-md-4 pl-1">
                          <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail1">Student Email</label>
                            <input type="email" class="form-control" placeholder="Student Email">
                          </div>
                        </div>
                        <div class="col-md-2 pl-1">
                          <input type="submit" value="send invite" class="btn btn-primary m-0"/>
                        </div>
                      </div>
                    </form>

                    <div class="row">
                      <div class="col-12">
                        <h6>Pending Invites</h6>
                        <table id="datatable2" class="table table-striped table-bordered" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Accepted</th>
                              <th>Account Created</th>
                              <th class="disabled-sorting text-right">&nbsp;</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Tiger Nixon</td>
                              <td>TigerN@gmail.com</td>
                              <td>No</td>
                              <td>No</td>
                              <td class="text-muted">sent 4/11/18</td>
                              <td class="text-right">
                                <a href="#" class="btn btn-sm btn-primary">Resend</a>
                              </td>
                            </tr>
                              <tr>
                                <td>Tiger Nixon</td>
                                <td>TigerN@gmail.com</td>
                                <td>No</td>
                                <td>No</td>
                                <td class="text-muted">sent 4/11/18</td>
                                <td class="text-right">
                                  <a href="#" class="btn btn-sm btn-primary">Resend</a>
                                </td>
                              </tr>

                              <tr>
                                <td>Tiger Nixon</td>
                                <td>TigerN@gmail.com</td>
                                <td>No</td>
                                <td>No</td>
                                <td class="text-muted">sent 4/11/18</td>
                                <td class="text-right">
                                  <a href="#" class="btn btn-sm btn-primary">Resend</a>
                                </td>
                              </tr>

                              <!-- <tr>
                                <td>Tiger Nixon</td>
                                <td>TigerN@gmail.com</td>
                                <td>No</td>
                                <td>No</td>
                                <td class="text-muted">sent 4/11/18</td>
                                <td class="text-right">
                                  <a href="#" class="btn btn-sm btn-disabled" data-action="">Accepted</a>
                                </td>
                              </tr>

                              <tr>
                                <td>Tiger Nixon</td>
                                <td>TigerN@gmail.com</td>
                                <td>No</td>
                                <td>No</td>
                                <td class="text-muted">sent 4/11/18</td>
                                <td class="text-right">
                                  <a href="#" class="btn btn-sm btn-disabled" data-action="">Accepted</a>
                                </td>
                              </tr> -->
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>



              </div>
              <!-- end content-->
            </div>
            <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
        </div>
        <!-- end row -->
      </div>

              <footer class="footer" >
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="#e">
            Privacy Policy
          </a>
        </li>
        <li>
          <a href="#e">
             Terms of Use
          </a>
        </li>
        <li>
          <a href="#e">
             Contact Us
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy; <script>document.write(new Date().getFullYear())</script>, Flight School Manager
    </div>
  </div>
</footer>

            </div>
          </div>
        </body>

<script>
  $(document).ready(function() {


    // PROTOTYPING ONLY
      $("a[href='students.php']").parents('li').addClass('active');
    // END


    $('#datatable').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [
        [10, 25, 50, -1],
        [10, 25, 50, "All"]
      ],
      responsive: true,
      language: {
        search: "_INPUT_",
        searchPlaceholder: "Search records",
      }

    });

    var table = $('#datatable').DataTable();

    $('#datatable2').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [
        [10, 25, 50, -1],
        [10, 25, 50, "All"]
      ],
      responsive: true,
      language: {
        search: "_INPUT_",
        searchPlaceholder: "Search records",
      }

    });

    var table2 = $('#datatable2').DataTable();

    // Edit record
    table.on('click', '.edit', function() {
      $tr = $(this).closest('tr');

      var data = table.row($tr).data();
      alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
    });

    // Delete a record
    table.on('click', '.remove', function(e) {
      $tr = $(this).closest('tr');
      table.row($tr).remove().draw();
      e.preventDefault();
    });

    //Like record
    table.on('click', '.like', function() {
      alert('You clicked on Like button');
    });



  });
</script>

</html>
